{% extends 'new_base.html' %}
{% block content %}
<br/>
<div class="container">
  <div class="card" style="width: '100%';">
    <div class="card-body">
      <h5 class="card-title">Employee SignUp Form</h5>
      <h6 class="card-subtitle mb-2 text-muted">Please fill the mandatory details</h6>
      <br/>


      <form action="{% url 'emp_signup' %}" method="POST" >
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">User Name</label>
            <input type="text" name="username" class="form-control" id="username"  placeholder="Username" >
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email"  id="email" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" name="first_name" id="first_name"  placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" name="last_name" id="last_name"  placeholder="Last Name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="mobil"> Mobile</label>
            <input type="text" class="form-control"  name="mobile" id="mobile" placeholder="Enter Mobile No">
          </div>
          <div class="form-group col-md-6">
            <label for="alternatemobile">Alternate Mobile</label>
            <input type="text" class="form-control"  name="alternate_mobile" id="alternatemobile" placeholder="Enter Company Address">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password"  placeholder="Enter Password">
          </div>
          <div class="form-group col-md-6">
            <label for="repassword">Confirm Password</label>
            <input type="password" class="form-control" name="repassword" id="repassword" placeholder="Confirm Password">
          </div>
        </div>

      <!-- <div class="form-row">
        <div class="form-group col-md-6">
          <label for="alternatemobile">Alternate Mobile</label>
          <input type="text" class="form-control"  name="alternate_mobile" id="alternatemobile" placeholder="Enter Company Address">
        </div>
       -->  <!-- <div class="form-group col-md-6">
          <label for="interschoolboard">Company Details</label>
          <input type="text" class="form-control"  name="" id="interschoolboard" placeholder="Registration No">
        </div> -->
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>
</div>

</div>
{% endblock %}